<div class="container">
  <h1><%= @chat_room.title %></h1>

  <div class="mx-auto" style="width: 300px;">
    <%= image_tag @chat_room.product.image, width: '300px', class: "img-responsive center-block" %>
  </div>

  <div id="messages" data-chat-room-id="<%= @chat_room.id %>">
    <%= render @chat_room.messages %> 
  </div>

  <%= form_for @message, url: '#' do |f| %>
    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, class: 'form-control' %>
      <small class="text-muted">From 2 to 1000 characters</small>
    </div>

    <%= f.submit "Post", class: 'btn btn-primary btn-lg' %>
  <% end %>

  <% if current_user.designer != nil %>
    <%= link_to "Back", designer_chat_rooms_user_path(current_user) %>
  <% else %>
    <%= link_to "Back", user_chat_rooms_path(@chat_room.user) %>
  <% end %>
  
</div>