<!-- Hero Section-->
<section class="hero">
  <div class="container">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb justify-content-center">
      <li class="breadcrumb-item">
        <%= link_to "Orders", orders_path %>
      </li>
      <li class="breadcrumb-item active">Order List</li>
    </ol>
  </div>
  <div class="hero-content pb-5 text-center">
    <h1 class="hero-heading">Order Details</h1>
    <div class="row">
      <div class="col-xl-8 offset-xl-2">
        <p class="lead text-muted">
          Order SN:
          <strong>
            <%= @order.sn %>
          </strong>
        </p>
        <p class="lead text-muted">
          Order created date:
          <strong>
            <%= @order.created_at.strftime("%Y/%m/%d") %>
          </strong>
        </p>
        <p class="lead text-muted">
          Payment Status:
          <span class="badge text-uppercase p-2 <%= @order.payment_status == 'paid' ? 'badge-success' : 'badge-info' %>">
            <%= @order.payment_status.split("_").join(" ") %>
          </span>
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-xl-12">
        <div class="cart">
          <div class="cart-wrapper">
            <div class="cart-header text-center">
              <div class="row">
                <div class="col-4">Item</div>
                <div class="col-2">Price</div>
                <div class="col-2">Quantity</div>
                <div class="col-2">Total</div>
                <div class="col-2">Shipping Status</div>
              </div>
            </div>
            <div class="cart-body">
              <% @order.order_items.each do |item| %>
              <!-- Product-->
              <div class="cart-item">
                <div class="row d-flex align-items-center text-center">
                  <div class="col-4">
                    <div class="d-flex align-items-center">
                      <%= link_to product_path(item) do %>
                      <% if item.product.thirtydays_status %>
                      <div class="ribbon ribbon-primary order-13-image">30 Days</div>
                      <% end %>
                      <%= image_tag item.product.image, class: "cart-item-img" %>
                      <% end %>
                      <div class="cart-title text-left">
                        <%= link_to product_path(item), class: "text-uppercase text-dark" do %>
                        <strong>
                          <%= item.product.name %>
                        </strong>
                        <% end %>
                        <br>
                        <span class="text-muted text-sm">
                          Size:
                          <%= item.size_name %>
                        </span>
                        <br>
                        <span class="text-muted text-sm">
                          Colour:
                          <%= item.color_name.capitalize %>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-2">$
                    <%= item.price %>
                  </div>
                  <div class="col-2">
                    <%= item.quantity %>
                  </div>
                  <div class="col-2 text-center">
                    $
                    <%= item.item_total %>
                  </div>
                  <div class="col-2">
                    <% if item.product.designer.user == current_user || current_user.admin? %>
                    <span>
                      <%= simple_form_for [:admin, item] do |f| %>
                      <%= f.input :shipping_status, label: false, collection: OrderItem::SHIPPING_STATUS, label_method: :first, value_method: :second, include_blank: false %>
                      <%= f.button :submit, 'Update', class: "btn btn-outline-dark ml-2" %>
                      <% end %>
                    </span>
                    <% else %>
                    <span class="badge text-uppercase p-2 <%= item.shipping_status == 'shipped' ? 'badge-success' : 'badge-info' %>">
                      <%= item.shipping_status.split("_").join(" ") %>
                    </span>
                    <% end %>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row my-5">
          <div class="col-md-6">
            <div class="block mb-5">
              <div class="block-header">
                <h6 class="text-uppercase mb-0">Order Summary</h6>
              </div>
              <div class="block-body bg-light pt-1">
                <p class="text-sm">Shipping and additional costs are calculated based on values you have entered.</p>
                <ul class="order-summary mb-0 list-unstyled">
                  <li class="order-summary-item">
                    <span>Order Subtotal </span>
                    <span>
                      $
                      <%= @order.amount %>
                    </span>
                  </li>
                  <li class="order-summary-item"><span>Shipping and handling</span><span>$0</span></li>
                  <li class="order-summary-item border-0">
                    <span>Total</span>
                    <strong class="order-summary-total">
                      $
                      <%= @order.amount %>
                    </strong>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="block-header">
              <h6 class="text-uppercase mb-0">Shipping address</h6>
            </div>
            <div class="block-body bg-light pt-1">
              <ul class="order-summary mb-0 list-unstyled">
                <li class="order-summary-item">
                  <span>Name: </span>
                  <span>
                    <%= @order.name %>
                  </span>
                </li>
                <li class="order-summary-item">
                  <span>Phone: </span>
                  <span>
                    <%= @order.phone %>
                  </span>
                </li>
                <li class="order-summary-item border-0">
                  <span>Address: </span>
                  <strong class="order-summary-total">
                    <%= @order.address %>
                  </strong>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>