

 <!-- Hero Section-->
    <section class="hero">
      <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active"><a href="/thirtydays">30 天活動</a></li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
          <h1 class="hero-heading">QuoFation</h1>
          <div class="row">   
            <div class="col-xl-8 offset-xl-2"><p class="lead text-muted">In Here, You Could Quote Any Fasion You Like.</p></div>
          </div>
        </div>
      </div>
    </section>

 <!-- restaurants list，有多寫restaurant-item的class style -->
<% @designers.each do |designer| %>

<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="product">
    <div class="product-image">
    <%= image_tag designer.image.url, width: '300px', class: "img-fluid" %>
      <div class="product-hover-overlay"><%= link_to "", designer_path(designer), class: "product-hover-overlay-link" %>
        
        <%= link_to designer_path(designer), class: "btn btn-dark btn-buy" do%>
          <i class="fa-search fa"></i>
          <span class="btn-buy-label ml-2">View</span>
        <% end %>
        
        </div>
      </div>
    </div>
  
  <div class="py-2">
    <div class="caption" >
      <h3><%= link_to designer.brandname, designer_path(designer) %></h3>
      <p><%= truncate(designer.description, length: 80) %></p> 
    </div>
    </div>
  </div>
</div>

<% end %>
    
    <!-- 有generate kaminari paginate bootstrap style -->
    <div class="text-center">
    <%= paginate @designers %>
    </div>

      
  </div>
</div>

