<!-- Hero Section-->
<section>
  <div style="background: #f8d5cf;" class="d-flex align-items-center position-relative">
    <img src="https://cdn.filestackcontent.com/yOsRtdLwT1yqdADuH6Px" alt="" class="bg-image">
    <div class="container py-4">
      <div class="row">
        <div class="col-lg-8 col-xl-12 mx-auto text-black text-center">
          <h5 class="text-uppercase text-black font-weight-light mb-3 letter-spacing-10">
            Members Only
          </h5>
          <h1 class="mb-3 display-2 text-black font-weight-bold text-serif">Try It on <br> Return it in 30 days</h1>
          <h5 class="text-uppercase text-black font-weight-bold mb-4 letter-spacing-10"> Activity Will Start at</h5>
          <%= render "shared/counterClock" %>
          <br>
          <div class="d-inline p-2">
            <a href="../thirtydays.html" class="btn btn-dark">Join activity</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Our picks section-->
<section>
  <div class="container py-3">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center mb-2">
        <h2 class="text-uppercase">Our Selection of Designers</h2>
        <p class="lead text-muted">Visit them and enjoy their products </p>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <!-- Grid -->
    <div class="products-grid col-12 sidebar-none">
      <div class="row">
        <!-- Designers -->
        <% @designers.each do |designer| %>
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="product">
            <div class="product-image">
              <%= image_tag designer.image, width: '300px', class: "img-fluid trim" %>
              <div class="product-hover-overlay">
                <%= link_to "", designer_path(designer), class: "product-hover-overlay-link" %>
                <div class="product-hover-overlay-buttons">
                  <%= link_to designer_path(designer), class: "btn btn-dark btn-buy" do%>
                  <i class="fa-search fa"></i>
                  <span class="btn-buy-label ml-2">View</span>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="py-2">
              <h3 class="h6 text-uppercase mb-1">
                <%= link_to designer.name, designer_path(designer) %>
              </h3>
            </div>
          </div>
        </div>
        <% end %>
        <!-- Designers End -->
      </div>
    </div>
    <div class="mr-auto ml-auto">
      <%= paginate @designers %>
    </div>
  </div>
</div>