<!-- Breadcrumbs + Hero-->
    <section class="position-relative dark-overlay py-3 py-lg-7">
    <%= image_tag @designers.image, class: "bg-image" %>
      <div class="container overlay-content hero hero-page">
        <ul class="breadcrumb justify-content-center no-border mb-0">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
        </ul>
        <div class="hero-content pb-5 text-center text-white">
          <h1 class="hero-heading"><%= @designers.brandname %></h1>
          <h1 class="hero-heading"><%= @designers.name %></h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          <p class="lead"><%= truncate(@designer.description, length: 80) %></p>                        
        </div>
      </div>
    </section>
    <main class="pt-5">
      <div class="container">
        <div class="row">
<div class="clearfix"></div>


      <div class="container">
        <div class="row">
          <!-- Grid -->
          <div class="products-grid col-12 sidebar-none">
            <header class="product-grid-header">
            </header>
            <div class="row">
            <% @designer.products.each do |product| %>
              <!-- product-->
              <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="product">
                  <div class="product-image">
                    <%= image_tag product.image, class: "img-fluid"%><alt="product" class="img-fluid">
                    <div class="product-hover-overlay"><%= link_to "", designer_product_path(designer_id: @designer, id: product), class: "product-hover-overlay-link" %>
                    <div class="product-hover-overlay-buttons">
                    <%= button_to add_to_cart_product_path(product), remote: true, class: "btn btn-outline-dark btn-product-left" do%>
                    <i class="fa fa-shopping-cart"></i>
                    <% end %>
                    <%= link_to designer_product_path(designer_id: @designer, id: product), class: "btn btn-dark btn-buy" do%>
                    <i class="fa-search fa"></i>
                    <span class="btn-buy-label ml-2">View</span>
                    <% end %>
                    <a href="#" data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-dark btn-product-right"><i class="fa fa-expand-arrows-alt"></i></a>
                  </div>
                </div>
              </div>
                  <div class="py-2">
                    <p class="text-muted text-sm mb-1"><%= product.category.name %></a>
                    <h3 class="h6 text-uppercase mb-1"><%= link_to product.name, designer_product_path(designer_id: @designer, id: product)%></p></h3>
                    <span class="text-muted">$<%= product.price %></span>
                  </div>
                </div>
              </div>
              <!-- /product-->
              <% end %>

 

<div class="text-center">
  <%= paginate @products %>
</div>


