<!-- Breadcrumbs + Hero-->
    <section class="position-relative dark-overlay py-3 py-lg-7">
    <%= image_tag @designers.image, class: "bg-image" %>
      <div class="container overlay-content hero hero-page">
        <div class="hero-content pb-5 text-center text-white">
          <h1 class="hero-heading"><%= @designers.brandname %></h1>
          <h1 class="hero-heading"><%= @designers.name %></h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          <p class="lead"><%= truncate(@designer.description, length: 80) %></p>                        
        </div>
      </div>
    </section>
    <main class="pt-5">
      <div class="container">
        <div class="row">
<div class="clearfix"></div>
<div class="container">
  <div class="row">
    <!-- Grid -->
    <div class="products-grid col-12 sidebar-none">
      <header class="product-grid-header">
        <div class="mr-3 mb-3">
        </div>
      </header>
      <div class="card-columns product-columns">
         <% @designer.products.each do |product| %>
          <!-- product masonry-->
          <div class="product card border-0">
            <div class="product-image">
              <%= image_tag product.image, class: "img-fluid" %>
              <div class="product-hover-overlay">
                <div class="product-hover-overlay-buttons">
                  <%= link_to add_to_cart_product_path(product), method: :post, class:"btn btn-outline-dark btn-product-left", remote: true do %>
                    <i class="fa fa-shopping-cart"></i>
                  <% end %>
                  <%= link_to designer_product_path(designer_id: @designer, id: product), class: "btn btn-dark btn-buy" do %>
                    <i class="fa-search fa mr-2"></i>View
                  <% end %>
                </div>
              </div>
            </div>
            <div class="py-2">
              <p class="text-muted text-sm mb-1"><%= product.category.name %></p>
              <h3 class="h6 text-uppercase mb-1">
                <%= link_to product.name, designer_product_path(designer_id: @designer, id: product), class: "text-dark" %>
              </h3>
              <span class="text-muted">$<%= product.price %></span>
            </div>
          </div>
          <!-- /product masonry-->
        <% end %>
      </div>
    </div>
    <!-- / Grid End-->
  </div>
</div>
<nav aria-label="page navigation" class="d-flex justify-content-center mb-5 mt-3">
      <ul class="pagination">
        <div class="text-center">
          <%= paginate @products %>
        </div>
      </ul>
  </nav>
          </div>


