<!-- Product Review -->
<section class="mt-5">
  <div class="container">
    <ul role="tablist" class="nav nav-tabs flex-column flex-sm-row">
      <li class="nav-item"><a data-toggle="tab" href="#reviews" role="tab" class="nav-link detail-nav-link active">Reviews</a></li>
    </ul>
    <div class="tab-content py-4">
      <div id="reviews" role="tabpanel" class="tab-pane active">
        <div class="row mb-5">
          <div class="col-lg-10 col-xl-9">
            <% product.comments.each do |comment| %>
            <% if (comment.privacy == "privacy") && ((comment.user.id == current_user.id) || (product.designer.user.id == current_user.id)) %>
            <%= render "shared/comment", object: comment %>
            <% elsif comment.privacy == "open" %>
            <%= render "shared/comment", object: comment %>
            <% end %>
            <% end %>
            <div class="py-5 px-3">
              <h5 class="text-uppercase mb-4">Leave a review</h5>
              <div style="clear:both;">
                <%= form_for [product, new_comment], url: "#{product.id}/comments", id: "contact-form", class: "form" do |f| %>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <%= f.label :privacy, "Privacy: ", class: "form-label" %>
                      <%= f.collection_radio_buttons :privacy, Comment::PRIVACY, :last, :first, { checked: Comment::PRIVACY.first }  %>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label :content, "Comment text", class: "form-label" %>
                  <%= f.text_area :content, rows: "4", id: "review", placeholder: "Enter your comment", required: "required", class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.button :submit, class: "btn btn-outline-dark" do %>
                  Post comment
                  <% end %>
                  <%= f.button "Cancel", type: :reset, class: "btn" %>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product Review End -->