<!-- Hero Section-->
<section class="hero">
  <div class="container">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb justify-content-center">
      <li class="breadcrumb-item">
        <%= link_to '30 Days', products_thirtydays_path %>
      </li>
      <li class="breadcrumb-item active">Designers</li>
    </ol>
    <!-- Hero Content-->
    <div class="hero-content pb-5 text-center">
      <h1 class="hero-heading">30 Days Designers</h1>
      <div class="row">
        <div class="col-xl-8 offset-xl-2">
          <p class="lead text-muted">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<main>
  <div class="container">
    <div class="row">
      <!-- Grid -->
      <div class="products-grid col-12 sidebar-none">
        <header class="product-grid-header">
          <div class="mr-3 mb-3">
            Showing <strong>1-20 </strong>of <strong><%= @products.size %> </strong>designers
          </div>
        </header>
        <div class="row">
          <% @products.each do |pr| %>
            <!-- product-->
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <div class="product">
                <div class="product-image">
                  <%= image_tag pr.designer.image, class: "img-fluid" %>
                  <div class="product-hover-overlay">
                    <div class="product-hover-overlay-buttons">
                      <%= link_to designer_path(pr.designer), class: "btn btn-dark btn-buy" do %>
                        <i class="fa-search fa"></i>
                        <span class="btn-buy-label ml-2">View</span>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="py-2">
                  <h3 class="h6 text-uppercase mb-1">
                    <%= link_to pr.designer.name, designer_path(pr.designer), class:"text-dark" %>
                  </h3>
                </div>
              </div>
            </div>
            <!-- /product-->
          <% end %>
        </div>
      </div>
      <!-- / Grid End-->
    </div>
  </div>
</main>