<!-- 30 Days Products -->
<section class="py-6 bg-gray-100">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center mb-5">
        <h2 class="text-uppercase">30 Days Products</h2>
        <p class="lead text-muted">
          See these 30 Days Products
        </p>
      </div>
    </div>
    <!-- Products Slider-->
    <div class="owl-carousel owl-theme product-slider row">
      <!-- product-->
      <% @products.each do |product| %>
        <div class="product-slider-item col-4" id="no-margin">
          <div class="product">
            <div class="product-image">
              <%= image_tag product.image.url, alt: "product", class: "img-fluid" %>
              <div class="product-hover-overlay">
                <div class="product-hover-overlay-buttons">
                  <%= link_to thirtyday_path(product), class:"btn btn-dark btn-buy" do %>
                    <i class="fa-search fa"></i>
                    <span class="btn-buy-label ml-2">View</span>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="py-2">
              <span class="text-muted"><%= product.category.name %></span>
              <h3 class="h6 text-uppercase mb-1">
                <%= link_to product.name, thirtyday_path(product), class:"text-dark" %>
              </h3>
              <span class="text-muted"><%= product.price %></span>
              <%= button_to 'Add to Cart', add_to_cart_product_path(product), class: "btn btn-default", remote: true %>
            </div>
          </div>
        </div>
      <% end %>
      <!-- /product-->
    </div>
  </div>
</section>
<!-- 30 Days Products end -->

<!-- 30 Days Designers -->
<section class="py-6">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center mb-5">
        <h3 class="text-uppercase">See Designers</h3>
        <p class="lead text-muted">
          Those designers have joined this 30 days activities.
        </p>
      </div>
    </div>
    <div class="row">
      <!-- post-->
      <% @products.each do |product| %>
        <div class="col-lg-4 col-6">
          <div class="mb-30px">
            <%= link_to designer_path(product.designer) do %>
              <%= image_tag(product.designer.image.url, class: "img-fluid") %>
            <% end %>
            <div class="mt-3">
              <h5 class="my-2">
                <%= link_to product.designer.name, designer_path(product.designer) %>
              </h5>
              <p class="text-gray-500 text-sm my-3"><i class="far fa-clock mr-2"></i><%= product.designer.updated_at %></p>
              <p class="my-2 text-muted">
                <%= product.designer.description %>
              </p>
              <%= link_to designer_path(product.designer), class:"btn btn-link text-gray-700 pl-0" do %>
                Read more<i class="fa fa-long-arrow-alt-right ml-2"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <!-- post end-->
    </div>
  </div>
</section>
<!-- 30 Days Designers end -->

<!-- Divider Section-->
<section class="py-6 position-relative light-overlay">
  <%= image_tag @rand_prod.image.url, class: "bg-image" %>
  <div class="container">
    <div class="overlay-content text-center text-dark">
      <h3 class="display-1 font-weight-bold text-serif mb-4">See More</h3>
      <%= link_to "Designers", designers_thirtydays_path, class: "btn btn-outline-dark" %>
      <span class="btn btn-sm btn-dark">or</span>
      <%= link_to "Products", products_thirtydays_path, class: "btn btn-outline-dark" %>
    </div>
  </div>
</section>