<div class="container">
  <h1>This is page Thirtydays#Products</h1>
  <div class="card-columns">
    <% @products.each do |product| %>
      <div class="card">
        <%= image_tag product.image, class: "card-img-top", alt: "Card image cap" %>
        <div class="card-body">
          <h5 class="card-title">
            <%= product.name %>
          </h5>
          <p class="card-text">
            <%= product.description %>
          </p>
          <%= link_to "See More!", thirtyday_path(product), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
  <hr>
  <ul>
    <li><%= link_to "Go Back To 30 Days Index", thirtydays_path %></li>
  </ul>
</div>