<div class="container">
  <h1>This is the page Thirtydays#Show</h1>
  <p>Show details</p>
  <%= image_tag @product.image, class: "img-responsive center-block", alt: "Photo of Product" %>
  <ul>
    <li>Name: <%= @product.name %></li>
    <li>Description: <%= @product.description %></li>
    <li>Price: <%= @product.price %></li>
    <li>Thirtydays: <%= @product.thirtydays_status.to_s %></li>
    <li>Designer: <%= @product.designer.name %></li>
  </ul>

  <ul>
    <li><%= link_to "ADD TO CART", root_path, class:"btn btn-outline-primary" %></li>
    <li><%= link_to "See Designer's works", designer_path(@product.designer) , class:"btn btn-outline-success" %></li>
    <li><%= link_to "Products List", products_thirtydays_path, class:"btn btn-outline-warning" %></li>
    <li><%= link_to "Designers List", designers_thirtydays_path, class:"btn btn-outline-dark" %></li>
    <li><%= link_to "Fitting Discussion", root_path, class:"btn btn-outline-danger" %></li>
    <li><%= link_to "Go Back To 30 Days Index", thirtydays_path %></li>
  </ul>
</div>