<h1>This is the page Thirtydays#Show</h1>
<p>Show details</p>
<ul>
  <li>Name: <%= @product.name %></li>
  <li>Description: <%= @product.description %></li>
  <li>Price: <%= @product.price %></li>
  <li>Thirtydays: <%= @product.thirtydays_status.to_s %></li>
  <li>Designer: <%= @product.user.id %></li>
</ul>
<%= link_to "ADD TO CART", root_path, class:"btn btn-outline-primary" %>
<%= link_to "See Designer's works", root_path , class:"btn btn-outline-success" %>
<%= link_to "Products List", root_path, class:"btn btn-outline-warning" %>
<%= link_to "Designers List", root_path, class:"btn btn-outline-dark" %>