<!-- Buy Product -->
<section class="product-details">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 py-3 order-2 order-lg-1">
        <div data-slider-id="1" class="owl-carousel owl-theme owl-dots-modern detail-full">
          <div style="background: center center url('<%= @product.image %>') no-repeat; background-size: cover;" class="detail-full-item">
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center col-lg-6 col-xl-5 pl-lg-5 mb-5 order-1 order-lg-2">
        <div>
          <!-- Breadcrumbs -->
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
              <%= link_to '30 Days', products_thirtydays_path %>
            </li>
            <li class="breadcrumb-item">
              <%= link_to 'Designers', designers_thirtydays_path %>
            </li>
            <li class="breadcrumb-item">
              <%= link_to "Designer's works", designer_path(@product.designer) %>
            </li>
            <li class="breadcrumb-item active">
              <%= @product.category.name %>
            </li>
          </ol>
          <h1 class="mb-4">
            <%= @product.name %>
          </h1>
          <div class="d-flex flex-column flex-sm-row align-items-sm-center justify-content-sm-between mb-4">
            <ul class="list-inline mb-2 mb-sm-0">
              <li class="list-inline-item h4 font-weight-light mb-0">$
                <%= @product.price %>
              </li>
            </ul>
            <div class="d-flex align-items-center">
              <span class="text-muted text-uppercase text-sm">
                <%= @product.comments.length %> reviews</span>
            </div>
          </div>
          <p class="mb-4 text-muted">
            <%= @product.description %>
          </p>

          <!-- Rails Form -->
          <div class="row">
            <div class="container">
              <ul role="tablist" class="nav nav-tabs flex-column flex-sm-row">
                <% @product.colors.uniq.each do |color| %>
                <li class="nav-item">
                  <a data-toggle="tab" href="#<%= color.name%>" role="tab" class="nav-link detail-nav-link <%= 'active' if @product.inventories.first.color == color %>">
                    <div class="btn-colour" style="background: #<%= color.hexcode%>"></div>
                  </a>
                </li>
                <% end %>
              </ul>
              <div class="tab-content py-4">
                <% @product.colors.uniq.each do |color| %>
                <div id="<%= color.name %>" role="tabpanel" class="tab-pane <%= 'active' if @product.inventories.first.color == color %>">
                  <%= form_for @cart_item do |f| %>
                  <div class="row">
                    <div class="col-sm-6 col-lg-12 detail-option mb-3">
                      <%= f.label :size_name, 'Size', class: "detail-option-heading font-weight-bold" do %>
                      Size <span>(required)</span>
                      <% end %>
                      <%= f.select :size_name, @product.inventories.where(color_name: color.name).map{ |i| [i.size.name, i.size.id] }, {}, {class: "custom-select"} %>
                    </div>
                    <div>
                      <%= f.hidden_field :product_id, value: @product.id %>
                      <%= f.hidden_field :color_name , value: color.name %>
                      <%= f.hidden_field :color_id , value: color.id %>
                    </div>
                    <div class="col-12 detail-option mb-5">
                      <%= f.label :quantity, class: "detail-option-heading font-weight-bold" do %>
                      Items <span>(only 1)</span>
                      <% end %>
                      <%= f.number_field :quantity, value: 1, max: 1, min: 1, class: "form-control detail-quantity" %>
                    </div>
                  </div>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <%= f.button :submit, class: "btn btn-dark btn-lg mb-1" do %>
                      <i class="fa fa-shopping-cart mr-2"></i>
                      Add to Cart
                      <% end %>
                    </li>
                  </ul>
                  <% end %>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Buy Product End -->

<!-- Product Review -->
<section class="mt-5">
  <div class="container">
    <ul role="tablist" class="nav nav-tabs flex-column flex-sm-row">
      <li class="nav-item"><a data-toggle="tab" href="#reviews" role="tab" class="nav-link detail-nav-link active">Reviews</a></li>
    </ul>
    <div class="tab-content py-4">
      <div id="reviews" role="tabpanel" class="tab-pane active">
        <div class="row mb-5">
          <div class="col-lg-10 col-xl-9">
            <% @product.comments.each do |comment| %>
            <% if (comment.privacy == "privacy") && ((comment.user.id == current_user.id) || (@product.designer.user.id == current_user.id)) %>
            <%= render "shared/comment", object: comment %>
            <% elsif comment.privacy == "open" %>
            <%= render "shared/comment", object: comment %>
            <% end %>
            <% end %>
            <div class="py-5 px-3">
              <h5 class="text-uppercase mb-4">Leave a review</h5>
              <div style="clear:both;">
                <%= form_for [@product, @comment], url: "#{@product.id}/comments", id: "contact-form", class: "form" do |f| %>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <%= f.label :privacy, "Privacy: ", class: "form-label" %>
                      <%= f.collection_radio_buttons :privacy, Comment::PRIVACY, :last, :first, { checked: Comment::PRIVACY.first }  %>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label :content, "Comment text", class: "form-label" %>
                  <%= f.text_area :content, rows: "4", id: "review", placeholder: "Enter your comment", required: "required", class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.button :submit, class: "btn btn-outline-dark" do %>
                  Post comment
                  <% end %>
                  <%= f.button "Cancel", type: :reset, class: "btn" %>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product Detail End -->

<!-- Other Products -->
<section class="mt-5">
  <div class="container">
    <ul role="tablist" class="nav nav-tabs flex-column flex-sm-row">
      <li class="nav-item">
        <a data-toggle="tab" href="#rand-product" role="tab" class="nav-link detail-nav-link active">
          You might also like
        </a>
      </li>
      <li class="nav-item">
        <a data-toggle="tab" href="#designer-product" role="tab" class="nav-link detail-nav-link">
          Designer's Product
        </a>
      </li>
      <li class="nav-item">
        <a data-toggle="tab" href="#category-product" role="tab" class="nav-link detail-nav-link">
          Category's Product
        </a>
      </li>
    </ul>
    <div class="tab-content py-4">
      <div id="rand-product" role="tabpanel" class="tab-pane active px-3">
        <div class="row">
          <% @products.each do |rand_prod| %>
          <!-- product-->
          <div class="col-lg-2 col-md-4 col-6">
            <div class="product">
              <div class="product-image">
                <%= image_tag rand_prod.image, alt: "product", class: "img-fluid" %>
                <div class="product-hover-overlay">
                  <div class="product-hover-overlay-buttons">
                    <%= link_to thirtyday_path(rand_prod), class:"btn btn-dark btn-buy" do %>
                    <i class="fa-search fa"></i>
                    <span class="btn-buy-label ml-2">View</span>
                    <% end %>
                    </a>
                  </div>
                </div>
              </div>
              <div class="py-2">
                <p class="text-muted text-sm mb-1">
                  <%= rand_prod.category.name %>
                </p>
                <h3 class="h6 text-uppercase mb-1">
                  <%= link_to rand_prod.name, thirtyday_path(rand_prod), class:"text-dark" %>
                </h3>
                <span class="text-muted">$
                  <%= rand_prod.price %></span>
              </div>
            </div>
          </div>
          <!-- /product-->
          <% end %>
        </div>
      </div>
      <div id="designer-product" role="tabpanel" class="tab-pane">
        <div class="row">
          <% @designer_products.each do |des_prod| %>
          <!-- product-->
          <div class="col-lg-2 col-md-4 col-6">
            <div class="product">
              <div class="product-image">
                <%= image_tag des_prod.image, alt: "product", class: "img-fluid" %>
                <div class="product-hover-overlay">
                  <div class="product-hover-overlay-buttons">
                    <%= link_to thirtyday_path(des_prod), class:"btn btn-dark btn-buy" do %>
                    <i class="fa-search fa"></i>
                    <span class="btn-buy-label ml-2">View</span>
                    <% end %>
                    </a>
                  </div>
                </div>
              </div>
              <div class="py-2">
                <p class="text-muted text-sm mb-1">
                  <%= des_prod.category.name %>
                </p>
                <h3 class="h6 text-uppercase mb-1">
                  <%= link_to des_prod.name, thirtyday_path(des_prod), class:"text-dark" %>
                </h3>
                <span class="text-muted">$
                  <%= des_prod.price %></span>
              </div>
            </div>
          </div>
          <!-- /product-->
          <% end %>
        </div>
      </div>
      <div id="category-product" role="tabpanel" class="tab-pane">
        <div class="row">
          <% @category_products.each do |cat_prod| %>
          <!-- product-->
          <div class="col-lg-2 col-md-4 col-6">
            <div class="product">
              <div class="product-image">
                <%= image_tag cat_prod.image, alt: "product", class: "img-fluid" %>
                <div class="product-hover-overlay">
                  <div class="product-hover-overlay-buttons">
                    <%= link_to thirtyday_path(cat_prod), class:"btn btn-dark btn-buy" do %>
                    <i class="fa-search fa"></i>
                    <span class="btn-buy-label ml-2">View</span>
                    <% end %>
                    </a>
                  </div>
                </div>
              </div>
              <div class="py-2">
                <p class="text-muted text-sm mb-1">
                  <%= cat_prod.category.name %>
                </p>
                <h3 class="h6 text-uppercase mb-1">
                  <%= link_to cat_prod.name, thirtyday_path(cat_prod), class:"text-dark" %>
                </h3>
                <span class="text-muted">$
                  <%= cat_prod.price %></span>
              </div>
            </div>
          </div>
          <!-- /product-->
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Other Products End -->

<script>
  setTimeout(() => {
    const meta = $('meta[name=csrf-token]').attr("content");
    $('input[name=authenticity_token]').attr("value", meta);
  }, 2000)
</script>