


<div class="container">
  <h1>This is the page Thirtydays#Show</h1>
  <p>Show details</p>

  <%= image_tag @product.image.url, width: '300px', class: "img-responsive center-block", alt: "Photo of Product" %>

  <ul>
    <li>Name: <%= @product.name %></li>
    <li>Description: <%= @product.description %></li>
    <li>Price: <%= @product.price %></li>
    <li>Thirtydays: <%= @product.thirtydays_status.to_s %></li>
    <li>Designer: <%= @product.designer.name %></li>
  </ul>

  <ul>
    <li><%= button_to 'Add to CART', add_to_cart_product_path(@product), class:"btn btn-outline-primary", remote: true %></li>
    <li><%= link_to "See Designer's works", designer_path(@product.designer) , class:"btn btn-outline-success" %></li>
    <li><%= link_to "Products List", products_thirtydays_path, class:"btn btn-outline-warning" %></li>
    <li><%= link_to "Designers List", designers_thirtydays_path, class:"btn btn-outline-dark" %></li>
    <% if (current_user.designer) && (current_user.designer.chat_rooms) != nil %>
      <li><%= link_to "Designer's ChatRooms", designer_chat_rooms_user_path(current_user), class:"btn btn-outline-danger" %></li>
    <% elsif current_user.chat_rooms != nil %>
      <li><%= link_to "Your's ChatRooms", user_chat_rooms_path(current_user), class:"btn btn-outline-danger" %></li>
    <% end %>
    <li><%= link_to "Go Back To 30 Days Index", thirtydays_path %></li>
  </ul>

  <hr>

  <div>
    <% @product.comments.each do |comment| %>
      <% if current_user == comment.user %>
      <div style="background-color: rgba(158, 158, 158, .14);">
        <h4>
          <%= comment.user.name %>
        </h4>
        <p>
          <%= simple_format comment.content %>
        </p>
        <p class="text-muted">
          <em>
            <%= time_ago_in_words(comment.created_at) %></em>
        </p>
        <hr>
      </div>
      <% else %>
      <div>
        <h4>
          <%= comment.user.name %>
        </h4>
        <p>
          <%= simple_format comment.content %>
        </p>
        <p class="text-muted">
          <em>
            <%= time_ago_in_words(comment.created_at) %></em>
        </p>
        <hr>
      </div>
      <% end %>
    <% end %>
  </div>
  
  <div style="clear:both;">
    <%= form_for [@product, @comment], url: "#{@product.id}/comments" do |f| %>
    <div class="form-group">
      <%= f.text_area :content, placeholder: "Give a comment", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit class: "btn btn-primary" %>
      <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
    </div>
    <% end %>
  </div>

</div>