<section class="hero">
      <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
          <li class="breadcrumb-item"><a href="/">前台</a></li>
          <li class="breadcrumb-item"><%= link_to 'Create New Designer', new_admin_designer_path %></li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
          <h1 class="hero-heading">後台管理</h1>
          <div class="row">   
            <div class="col-xl-8 offset-xl-2"><p class="lead">設計師列表</p></div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-xl-9">
            <table class="table table-borderless table-hover table-responsive-md">
              <thead class="bg-light">
               
                <tr>
                  <th class="py-4 text-uppercase text-sm">#</th>
                  <th class="py-4 text-uppercase text-sm">Name</th>
                  <th class="py-4 text-uppercase text-sm">BrandName</th>
                  <th class="py-4 text-uppercase text-sm">Description</th>
                  <th class="py-4 text-uppercase text-sm">Function</th>
                  <th class="py-4 text-uppercase text-sm">Order</th>
                </tr>
              </thead>
              <tbody>
                <% @designers.each do |designer| %>
                <tr>
                  <th class="py-4 align-middle"><%= designer.id %></th>
                  <td class="py-4 align-middle"><%= link_to designer.name, admin_designer_path(designer) %></td>
                  <td class="py-4 align-middle"><%= designer.brandname %></td>
                  <td class="py-4 align-middle"><%= designer.description %></td>
                  <td class="py-4 align-middle">
                    <%= link_to 'Edit', edit_admin_designer_path(designer) %>
                    <%= link_to 'Delete', admin_designer_path(designer), method: :delete, data: {confirm:"確定刪除嗎？"} %>
                  </td>
                   <td class="py-4 align-middle"><%= link_to "Orders", admin_orders_path %></td>
                </tr>
              </tbody>
              <% end %>
            </table>
            <div class="text-center">
            <%= paginate @designers %>
            </div>
          </div>


          