Name:<%= @designer.name %><br>
BrandName:<%= @designer.brandname %><br>
Description:<%= @designer.description %><br>
<%= image_tag(@designer.image.url, width: "300px") %>

 <%= link_to 'New Product', new_admin_designer_product_path(designer_id: @designer), class: "btn btn-primary" %>
    <h2>Product List</h2>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Function</th>
          </tr>
        </thead>
        <tbody>
          <% @designer.products.each do |product| %>
          <tr>
            <th scope="row"><%= product.id %></th>
            <td><%= link_to product.name, admin_designer_product_path(designer_id: @designer, id: product) %></td>
            <td><%= product.price %></td>
            <td><%= product.description %></td>
            <td>
              <%= link_to 'Edit', edit_admin_designer_product_path(designer_id: @designer, id: product) %>
              <%= link_to 'Delete', admin_designer_product_path(designer_id: @designer, id: product), method: :delete, data: {confirm:"Are you sure?"} %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="text-center">
        <%= paginate @products %>
      </div>



<%= link_to '回設計師首頁', admin_designers_path %>