<%= render partial: "shared/header" %>
<!-- Sign In Main Section-->
<section class="hero">
  <div class="container">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb justify-content-center">
      <li class="breadcrumb-item active">Sign In</li>
      <li class="breadcrumb-item">
        <%= link_to 'Sign Up', new_user_registration_path %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to 'Forgot your password?', new_password_path(resource_name) %>
      </li>
    </ol>
    <!-- Hero Content-->
    <div class="hero-content pb-5 text-center">
      <h1 class="hero-heading mb-0">Customer zone</h1>
    </div>
  </div>
</section>
<!-- customer login-->
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="block">
          <div class="block-header">
            <h6 class="text-uppercase mb-0">SignIn</h6>
          </div>
          <div class="block-body">
            <p class="lead">Already our customer?</p>
            <p class="text-muted">
              Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
              egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero
              sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
            </p>
            <hr>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group">
                <%= f.label :email, class: "form-label" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
              </div>
              
              <div class="form-group">
                <%= f.label :password, class: "form-label" %>
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
              </div>
              
              <% if devise_mapping.rememberable? -%>
              <div class="form-group">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
              <% end -%>
              
              <div class="form-group text-center">
                <%= f.button :submit, class: "btn btn-outline-dark" do %>
                  <i class="fa fa-sign-in-alt mr-2"></i> Sign In
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>