<section class="hero">
  <div class="container">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb justify-content-center">
      <li class="breadcrumb-item"><a href="/">前台</a></li>
      <li class="breadcrumb-item">
        <%= link_to 'Create New Designer', new_admin_designer_path %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to "Orders", admin_orders_path %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to "Products", admin_products_path %>
      </li>
    </ol>
    <!-- Hero Content-->
    <div class="hero-content pb-5 text-center">
      <h1 class="hero-heading">Admin</h1>
      <div class="row">
        <div class="col-xl-8 offset-xl-2">
          <p class="lead">Product List</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-xl-12">
        <table class="table table-borderless table-hover table-responsive-md">
          <thead class="bg-light">
            <tr>
              <th class="py-4 text-uppercase text-sm">#</th>
              <th class="py-4 text-uppercase text-sm">Name</th>
              <th class="py-4 text-uppercase text-sm">Category</th>
              <th class="py-4 text-uppercase text-sm">Designer</th>
              <th class="py-4 text-uppercase text-sm">Price</th>
              <th class="py-4 text-uppercase text-sm">30 Days</th>
              <th class="py-4 text-uppercase text-sm">Add To Cart Count</th>
              <th class="py-4 text-uppercase text-sm">Amount</th>
              <th class="py-4 text-uppercase text-sm">Function</th>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |product| %>
            <tr>
              <th class="py-4 align-middle">
                <%= product.id %>
              </th>
              <th class="py-4 align-middle">
                <%= link_to product.name, admin_designer_product_path(designer_id: product.designer, id: product) %>
              </th>
              <th class="py-4 align-middle">
                <%= product.category.name %>
              </th>
              <td class="py-4 align-middle">
                <%= link_to product.designer.name, admin_designer_path(product.designer) %>
              </td>
              <th class="py-4 align-middle">
                <%= product.price %>
              </th>
              <th class="py-4 align-middle">
                <%= product.thirtydays_status %>
              </th>
              <td class="py-4 align-middle">
                <%= product.add_to_cart_count %>
              </td>
              <td class="py-4 align-middle">
                <%= product.inventories.pluck(:amount).sum %>
              </td>
              <td class="py-4 align-middle">
                <%= link_to 'Edit', edit_admin_designer_product_path(designer_id: product.designer, id: product) %>
                <%= link_to 'Delete', admin_designer_product_path(designer_id: product.designer, id: product), method: :delete, data: {confirm:"Are you sure?"} %>
              </td>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>
      <div class="mr-auto ml-auto">
        <%= paginate @products %>
      </div>
    </div>
  </div>
</section>