<!-- Hero Section-->
<section class="hero">
  <div class="container">
   
    <!-- Hero Content-->
    <div class="hero-content pb-5 text-center">
      <h1 class="hero-heading">All Products</h1>
      <div class="row">
        <div class="col-xl-8 offset-xl-2">
          <p class="lead text-muted">
            Best Quality and Best Choice
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <!-- Grid -->
    <div class="products-grid col-12 sidebar-none">
      <header class="product-grid-header">
        
      </header>
      <div class="card-columns product-columns">
        <% @products.each do |product| %>
          <!-- product masonry-->
          <div class="product card border-0">
            <div class="product-image">
              <%= image_tag product.image, class: "img-fluid" %>
              <div class="product-hover-overlay">
                <div class="product-hover-overlay-buttons">
                  <%= link_to add_to_cart_product_path(product), method: :post, class:"btn btn-outline-dark btn-product-left", remote: true do %>
                    <i class="fa fa-shopping-cart"></i>
                  <% end %>
                  <%= link_to product_path(designer_id: @designer, id: product), class: "btn btn-dark btn-buy" do %>
                    <i class="fa-search fa mr-2"></i>View
                  <% end %>
                </div>
              </div>
            </div>
            <div class="py-2">
              <p class="text-muted text-sm mb-1"><%= product.category.name %></p>
              <h3 class="h6 text-uppercase mb-1">
                <%= link_to product.name, product_path(designer_id: @designer, id: product), class: "text-dark" %>
              </h3>
              <span class="text-muted">$<%= product.price %></span>
            </div>
          </div>
          <!-- /product masonry-->
        <% end %>
      </div>
    </div>
    <!-- / Grid End-->
  </div>
</div>

<div class="text-center">
  <%= paginate @products %>
</div>