<section class="position-relative dark-overlay py-3 py-lg-7">
  <%= image_tag @products.image.url, class: "bg-image" %>
  <div class="container overlay-content hero hero-page">
    <ul class="breadcrumb justify-content-center no-border mb-0">
      <li class="breadcrumb-item"><%= link_to'Back', designer_path(@products.designer), style: "color: white;" %></li>
    </ul>

  </div>
</section>


 <section class="product-details">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 py-3 order-2 order-lg-1">
            <%= image_tag @products.image.url,width: "500px", class: "img-responsive center-block" %>
          </div>

          <div class="d-flex align-items-center col-lg-6 col-xl-5 pl-lg-5 mb-5 order-1 order-lg-2">
            <div>
              <ul class="breadcrumb justify-content-start">
                <li class="breadcrumb-item">產品介紹</a></li>
              </ul>
              <h1 class="mb-4"><%= @products.name %></h1>
              <div class="d-flex flex-column flex-sm-row align-items-sm-center justify-content-sm-between mb-4">
                <ul class="list-inline mb-2 mb-sm-0">
                  <li class="list-inline-item h4 font-weight-light mb-0">$<%= @products.price %></li>
                </ul>
              </div>
              <p class="mb-4 text-muted"><%= @products.description %></p>
              <form action="#">
            <div class="row">
              <div class="col-sm-6 col-lg-12 detail-option mb-3">
                <h6 class="detail-option-heading">Size <span>(required)</span></h6>
                <label for="size_0" class="btn btn-sm btn-outline-secondary detail-option-btn-label">
                  <%= @products.size.name %>
                  <input type="radio" name="size" value="value_0" id="size_0" required class="input-invisible">
                </label>
              </div>
              <div class="col-12 detail-option mb-3">
                <h6 class="detail-option-heading">Colour <span>(required)</span></h6>
                <ul class="list-inline mb-0 colours-wrapper">
                  <li class="list-inline-item">
                    <label for="colour_Blue" style="background-color: #<%= @products.color.hexcode %>" class="btn-colour"> </label>
                    <input type="radio" name="colour" value="value_Blue" id="colour_Blue" required class="input-invisible">
                  </li>
                </ul>
              </div>
              <div class="col-12 detail-option mb-5">
                <label class="detail-option-heading font-weight-bold">Items <span>(required)</span></label>
                <input name="items" type="number" value="1" class="form-control detail-quantity">
              </div>
            </div>            
          </form>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <button type="submit" class="btn btn-dark btn-lg mb-1"> <i class="fa fa-shopping-cart mr-2"></i>Add to Cart</button>
                  </li>
                </ul>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>