<%= link_to "回首頁", root_path, class: "btn btn-primary" %>


<h1>產品介紹</h1>


<div class="container">
  <div class="row">
      
    <div class="col-md-12">
      <h1><%= @products.name %></h1>
    </div>


    <div class="col-md-4">

      <%= image_tag @products.image.url,width: "300px", class: "img-responsive center-block" %>

      <br>
      <div class="well">
        <ul class="list-unstyled">
          <li><strong>種類:</strong> <%= @products.category.name %></li>
          <li><strong>尺寸:</strong> <%= @products.size.name %></li>
          <li><strong>顏色:</strong> <%= @products.color.name %></li>
          <li><strong>Price:</strong> <%= @products.price %></li>
          <li><strong>庫存:</strong> <%= @products.inventory.name %></li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <%= simple_format @products.description %>
    </div>

    <div class="clearfix"></div>

    <hr>

  </div>
</div>

<a href="#" class="btn btn-primary">ADD TO CART</a>