<!DOCTYPE html>
<html>

<head>
  <title>Quofation</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- Font Awesome CSS-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
  <!-- Filestack -->
  <%= filestack_js_include_tag %>
  <%= filestack_js_init_tag %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% if (flash[:notice] || flash[:alert]) %>
  <div class="container">
    <div class="row">
      <div class="alert alert-danger alert-dismissible alert-flash-message" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times fa-4x"></i></span>
        </button>
        <h1 div class="flash-message">
          <p>
            <%= alert %>
          </p>
          <p>
            <%= notice %>
          </p>
      </div>
    </div>
  </div>
  </div>
  <% end %>

  <header class="header">
    <!-- Top Bar-->
    <div class="top-bar">
      <div class="container-fluid">
        <div class="row d-flex align-items-center">
          <div class="col-sm-7 d-none d-sm-block">
            <ul class="list-inline mb-0">
              <% if current_user %>
              <% if current_user.role == "admin" %>
              <li class="list-inline-item pr-3 border-right">
                <%= link_to 'Admin Panel', admin_root_path %>
              </li>
              <% elsif current_user.role=="designer" %>
              <li class="list-inline-item pr-3 border-right">
                <%= link_to 'Designer Panel', admin_designer_path(current_user) %>
              </li>
              <% end %> 
              <li class="list-inline-item pr-3 border-right">
                Hi,
                <%= current_user.name %>
              </li>
              <% end %>
            </ul>
          </div>
          <div class="col-sm-5 d-flex justify-content-end">
            <ul class="list-inline mb-0">
              <% if current_user %>
              <li class="list-inline-item pl-3 border-left">
                <%= link_to orders_path do %>
                <i class="fas fa-list-ul fa-lg"></i>
                <% end %>
              </li>
              <li class="list-inline-item pl-3 border-left">
                <%= link_to user_chat_rooms_path(current_user), title: "User's ChatRooms" do %>
                <i class="far fa-comments fa-lg"></i>
                <% end %>
              </li>
              <% if current_user.role == "designer" %>
              <li class="list-inline-item pl-3 border-left">
                <%= link_to designer_chat_rooms_user_path(current_user), title: "Designer's ChatRooms" do %>
                <i class="fas fa-comment-alt fa-lg"></i>
                <% end %>
              </li>
              <% end %>
              <li class="list-inline-item pl-3 border-left">
                <%= link_to edit_user_path(current_user) do %>
                <i class="far fa-edit fa-lg"></i>
                <% end %>
              </li>
              <li class="list-inline-item pl-3 mr-0">
                <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt fa-lg"></i>
                <% end %>
              </li>
              <% else %>
              <li class="list-inline-item pl-3 mr-0">
                <%= link_to new_user_registration_path do %>
                <i class="fas fa-user-plus fa-lg"></i>
                <% end %>
              </li>
              <li class="list-inline-item pl-3 border-left">
                <%= link_to new_user_session_path do %>
                <i class="fas fa-sign-in-alt fa-lg"></i>
                <% end %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Top Bar End-->
    <!-- Navbar-->
    <nav class="navbar navbar-expand-lg justify-content-between navbar-sticky navbar-light bg-white bg-fixed-white">
      <div class="container-fluid">
        <button type="button" data-toggle="collapse" data-target=".dual-nav" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><i class="fa fa-bars"></i></button>
        <!-- Navbar Collapse -->
        <div class="collapse navbar-collapse dual-nav w-50 order-1 order-lg-0">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to "Home", root_path, class: "nav-link px-xl-4" %>
            </li>
            <li class="nav-item">
              <%= link_to "Products", products_path, class: "nav-link px-xl-4" %>
            </li>
          </ul>
        </div>
        <!-- Navbar Brand-->
        <%= link_to 'QUOFATION', root_path, class:"navbar-brand d-block mx-auto text-center order-0 order-lg-1 logo" %>
        <!-- Navbar Collapse -->
        <div class="collapse navbar-collapse dual-nav w-50 order-2">
          <div class="d-flex w-100 align-items-center justify-content-between justify-content-lg-end mt-1 mb-2 my-lg-0">
            <!-- Cart -->
            <div class="nav-item dropdown">
              <div class="d-none d-lg-block">
                <a id="cartdetails" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/cart"
                  class="navbar-icon-link dropdown-toggle">
                  <i class="fas fa-shopping-cart fa-2x"></i>
                  <div class="navbar-icon-link-badge">
                    <%= current_cart.cart_items.size %>
                  </div>
                </a>
                <div aria-labelledby="cartdetails" class="dropdown-menu dropdown-menu-right p-4">
                  <div class="navbar-cart-product-wrapper">
                    <% current_cart.cart_items.each do |item| %>
                    <!-- cart item-->
                    <div class="navbar-cart-product">
                      <div class="d-flex align-items-center">
                        <%= link_to product_path(item.product) do %>
                        <%= image_tag item.product.image, class: "img-fluid navbar-cart-product-image" %>
                        <% end %>
                        <div class="w-100">
                          <%= link_to remove_from_cart_product_path(item.product), method: :post, class: "close text-sm mr-2", remote: true do %>
                          <i class="fa fa-times"></i>
                          <% end %>
                          <div class="pl-3">
                            <%= link_to item.product.name, product_path(item.product), class: "navbar-cart-product-link" %>
                            <small class="d-block text-muted">Quantity:
                              <%= item.quantity %></small>
                            <strong class="d-block text-sm">$
                              <%= (item.product.price) * (item.quantity) %></strong>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% end %>
                  </div>
                  <!-- total price-->
                  <div class="navbar-cart-total">
                    <span class="text-uppercase text-muted">Total</span>
                    <strong class="text-uppercase">$
                      <%= current_cart.subtotal %></strong>
                  </div>
                  <!-- buttons-->
                  <div class="d-flex justify-content-between">
                    <a href="/cart" class="btn btn-link text-dark mr-3">
                      View Cart <i class="fa-arrow-right fa"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Cart End -->
          </div>
        </div>
        <!-- spacer to center the menu correctly on mobile -->
        <!-- (compensates for the with of the navbar toggler appearing on the left)-->
        <div class="w-2rem"> </div>
      </div>
    </nav>
    <!-- /Navbar -->
  </header>

  <div>
    <%= yield %>
  </div>

  <!-- Footer-->
  <footer class="main-footer">
    <div class="py-2 bg-gray-300 text-muted">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="font-weight-bold text-uppercase text-lg text-dark mb-3">Quofation<span class="text-primary">.</span></div>
            <p>In Here, You Could Quote Any Fasion You Like.</p>
            <p class="mb-md-0">&copy; 2018 Quofation. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer end-->
</body>

</html>